.container {
    /* height: 90vh; */
    overflow-y: auto;
}

.box-folder {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    border: 1px solid #6c6c6c;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.icon {
    color: rgb(173, 180, 193);
}

.card-forder {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 1) 0px 0px 10px !important;
    min-height: 200px;

}

.card-item-learn {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 1) 0px 0px 10px !important;
    min-height: 100px;
    background: #5ba37c;
}

.learn_way:hover {
    background: #9f4ed9;
    color: #ffffff;
    transition: 0.3s;
    transform: scale(1.05);
}

.folderName {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.icon:hover {
    color: brown;
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
}

.box-file {
    box-shadow: rgba(100, 100, 111, 1) 0px 0px 10px !important;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box-file:hover {
    background: linear-gradient(145deg, #1fae8d, #b1d0cf);
    transform: scale(1.015);
    /* cursor: pointer; */
    transition: 0.2s;
    color: aliceblue;

}

.box-file:hover .box_icon_file {
    background: #ffffff;
    border: 4px double #c087e8;

}

.button-action {
    max-height: 40px;
    font: 1em sans-serif;
}.box-file:hover .button-action i {
    color: #ffffff;
}

.box_icon_file {
    padding: 8px;
    border-radius: 10px;
    border: 3px double #55137376;
}

.icon-file {
    width: 30px;
    height: 30px;
}

.cart_item_slide {
    color: #fff;
}

.slide_item:hover .btnViewFile {
    opacity: 1;
    transition: 0.5s;
}

.btnViewFile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    box-shadow: rgb(0, 0, 0) 0px 1px 10px;
}

#addWordModal .modal-dialog {
    min-width: 50vw;
    max-height: 80vh;
}


.addWordBox {
    border: 2px solid #00b874;
    border-radius: 10px;
    max-height: 50vh;
    overflow-y: auto;

}

.meaning-editor, .word-editor, .answers-btn {
    height: 100px;
    overflow-y: auto;
    /* border: 1px solid #00b874; */
    white-space: pre-line;
}

/* QUiz */


/* Cập nhật màu cho danh sách kết quả */
.result-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Câu trả lời đúng sẽ có nền xanh */
.answered-correct {
    background-color: #28a745;
    color: white;
}

/* Câu trả lời sai sẽ có nền đỏ */
.answered-wrong {
    background-color: #f06e7b;
    color: white;
}

/* Câu chưa trả lời sẽ có nền xám */
.not-answered {
    background-color: #6c757d;
    color: white;
}

.result-item p {
    margin: 5px 0;
}

/* Widget danh sách câu hỏi */
.question-widget {
    /* max-height: 100%; */
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    /* thu nhỏ width scroll */
    scrollbar-width: thin;
}

.question-widget button {
    width: 28%;
    padding: 10px;
}


/* flash card */
.flashcard-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.flashcard-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.flashcard {
    position: relative;
    width: 100%;
    height: 50vh;
    /* perspective: 1000px; */
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.card-front {
    background-color: #ffffff;
    transform: rotateY(0deg);
}

.card-back {
    background-color: #f8f9fa;
    transform: rotateY(180deg);
}

.flashcard.is-flipped .card-front {
    transform: rotateY(180deg);
}

.flashcard.is-flipped .card-back {
    transform: rotateY(360deg);
}



#progress-bar-container {
    width: 100%;
    background: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}

#progress-bar {
    width: 0%;
    background: #007bff;
    height: 100%;
    transition: width 0.3s ease;
}

.white-space-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}